.btn {
    @extend %font-sans-serif;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover, &:focus, &:active {
        background-color: #0d3344;
        border-color: #0d3344;
    }
}

.btn-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);

    &:hover, &:focus, &:active {
        background-color: #3a1526;
        border-color: #3a1526;
    }
}
