.btn {
    @extend %font-sans-serif;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover, &:focus, &:active {
        background-color: #0d3344;
        border-color: #0d3344;
    }
}

.btn-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);

    &:hover, &:focus, &:active {
        background-color: #3a1526;
        border-color: #3a1526;
    }

    &:disabled {
        background-color: lighten(#4d1c32, 20);
        border-color: lighten(#4d1c32, 20);
    }
}

.form-check-input:checked {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.form-control,
.form-select {
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(77, 28, 50, .25);
        border-color: var(--color-secondary);
    }
}
