.rounded-4 {
    border-radius: 1rem;
}

.link-color\:blue {
    color: var(--color-primary);
    transition: color 200ms;
}

.link-color\:blue:hover {
    color: #0d3344;
}

.text-color\:blue {
    color: var(--color-primary);
}

.text-color\:gold {
    color: #c8a945;
}
