:root {
  --color-primary: #09232f;
  --color-secondary: #4d1c32;
}

@font-face {
  font-family: "Calisto MT";
  src: url("../fonts/CalistoMT-BoldItalic.eot");
  src: url("../fonts/CalistoMT-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CalistoMT-BoldItalic.woff2") format("woff2"), url("../fonts/CalistoMT-BoldItalic.woff") format("woff"), url("../fonts/CalistoMT-BoldItalic.ttf") format("truetype"), url("../fonts/CalistoMT-BoldItalic.svg#CalistoMT-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Calisto MT";
  src: url("../fonts/CalistoMT.eot");
  src: url("../fonts/CalistoMT.eot?#iefix") format("embedded-opentype"), url("../fonts/CalistoMT.woff2") format("woff2"), url("../fonts/CalistoMT.woff") format("woff"), url("../fonts/CalistoMT.ttf") format("truetype"), url("../fonts/CalistoMT.svg#CalistoMT") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calisto MT";
  src: url("../fonts/CalisMTBol.eot");
  src: url("../fonts/CalisMTBol.eot?#iefix") format("embedded-opentype"), url("../fonts/CalisMTBol.woff2") format("woff2"), url("../fonts/CalisMTBol.woff") format("woff"), url("../fonts/CalisMTBol.ttf") format("truetype"), url("../fonts/CalisMTBol.svg#CalisMTBol") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calisto MT";
  src: url("../fonts/CalistoMT-Italic.eot");
  src: url("../fonts/CalistoMT-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/CalistoMT-Italic.woff2") format("woff2"), url("../fonts/CalistoMT-Italic.woff") format("woff"), url("../fonts/CalistoMT-Italic.ttf") format("truetype"), url("../fonts/CalistoMT-Italic.svg#CalistoMT-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  src: url("../fonts/MADETOMMY-Thin.eot");
  src: url("../fonts/MADETOMMY-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/MADETOMMY-Thin.woff2") format("woff2"), url("../fonts/MADETOMMY-Thin.woff") format("woff"), url("../fonts/MADETOMMY-Thin.ttf") format("truetype"), url("../fonts/MADETOMMY-Thin.svg#MADETOMMY-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  src: url("../fonts/MADETOMMY-Black.eot");
  src: url("../fonts/MADETOMMY-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MADETOMMY-Black.woff2") format("woff2"), url("../fonts/MADETOMMY-Black.woff") format("woff"), url("../fonts/MADETOMMY-Black.ttf") format("truetype"), url("../fonts/MADETOMMY-Black.svg#MADETOMMY-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  src: url("../fonts/MADETOMMY-Bold.eot");
  src: url("../fonts/MADETOMMY-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MADETOMMY-Bold.woff2") format("woff2"), url("../fonts/MADETOMMY-Bold.woff") format("woff"), url("../fonts/MADETOMMY-Bold.ttf") format("truetype"), url("../fonts/MADETOMMY-Bold.svg#MADETOMMY-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  src: url("../fonts/MADETOMMY-ExtraBold.eot");
  src: url("../fonts/MADETOMMY-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MADETOMMY-ExtraBold.woff2") format("woff2"), url("../fonts/MADETOMMY-ExtraBold.woff") format("woff"), url("../fonts/MADETOMMY-ExtraBold.ttf") format("truetype"), url("../fonts/MADETOMMY-ExtraBold.svg#MADETOMMY-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  src: url("../fonts/MADETOMMY-Light.eot");
  src: url("../fonts/MADETOMMY-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MADETOMMY-Light.woff2") format("woff2"), url("../fonts/MADETOMMY-Light.woff") format("woff"), url("../fonts/MADETOMMY-Light.ttf") format("truetype"), url("../fonts/MADETOMMY-Light.svg#MADETOMMY-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  src: url("../fonts/MADETOMMY-Medium.eot");
  src: url("../fonts/MADETOMMY-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/MADETOMMY-Medium.woff2") format("woff2"), url("../fonts/MADETOMMY-Medium.woff") format("woff"), url("../fonts/MADETOMMY-Medium.ttf") format("truetype"), url("../fonts/MADETOMMY-Medium.svg#MADETOMMY-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  src: url("../fonts/MADETOMMY.eot");
  src: url("../fonts/MADETOMMY.eot?#iefix") format("embedded-opentype"), url("../fonts/MADETOMMY.woff2") format("woff2"), url("../fonts/MADETOMMY.woff") format("woff"), url("../fonts/MADETOMMY.ttf") format("truetype"), url("../fonts/MADETOMMY.svg#MADETOMMY") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-serif {
  font-family: "Calisto MT", serif;
}

.btn, .font-sans-serif {
  font-family: "MADE TOMMY", sans-serif;
  letter-spacing: 1px;
}

.rounded-4 {
  border-radius: 1rem;
}

.link-color\:blue {
  color: var(--color-primary);
  transition: color 200ms;
}

.link-color\:blue:hover {
  color: #0d3344;
}

.text-color\:blue {
  color: var(--color-primary);
}

.text-color\:gold {
  color: #c8a945;
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #0d3344;
  border-color: #0d3344;
}

.btn-secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #3a1526;
  border-color: #3a1526;
}

.decoration-1 {
  position: absolute;
  top: 100px;
  right: -100px;
  width: 200px;
  z-index: 0;
}

.decoration-2 {
  position: absolute;
  left: -50px;
  bottom: 50px;
  width: 250px;
}

.decoration-3 {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 150px;
}

.decoration-4 {
  position: absolute;
  left: -50px;
  bottom: 50px;
  width: 150px;
}

@media (min-width: 768px) {
  .decoration-1 {
    top: 100px;
    right: -50px;
    width: 275px;
  }

  .decoration-2 {
    left: -50px;
    bottom: 0;
    width: 350px;
  }

  .decoration-3 {
    position: absolute;
    bottom: 100px;
    right: -50px;
    width: 275px;
  }

  .decoration-4 {
    position: absolute;
    left: -50px;
    bottom: 0;
    width: 350px;
  }
}
.hero-image {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.darkened-overlay {
  position: relative;
}

.darkened-overlay::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#bgm {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1030;
}

#controls {
  position: fixed;
  z-index: 1050;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 20px;
  border-radius: 8px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1;
}
#controls, #controls a, #controls button {
  color: #000;
}
